@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.footer {
  background-color: #00111b;
  padding: 70px 0 40px;
  color: #f1f1f1;
  font-family: 'Cinzel', serif;
}
/* Bố cục chính */
.footer-top {
  display: flex;
  justify-content: space-evenly; 
  max-width: 1300px;
  margin: auto;

  gap: 0; 
}
.footer-col {
  flex: 1;
  min-width: 200px; 
}
.footer-top .footer-col:last-child .footer-list li {
    white-space: nowrap; 
}
.footer-top .footer-col:nth-child(2),
.footer-top .footer-col:nth-child(3) {
    text-align: center;
}
.footer-top .footer-col:last-child {
    text-align: right;
}
.footer-logo-text,
.footer-title {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer-logo-text {
  font-size: 62px;
  margin-bottom: 14px;
}
.footer-info {
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px;         
  line-height: 1.6;
  opacity: 1;
  max-width: 400px;      
  color: #ffffff;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list li {
  margin-bottom: 8px;
}
.footer-list a {
  font-size: 17px;
  color: #eaeaea;
  text-decoration: none;
  transition: 0.3s;
}
.footer-list a:hover {
  color: #e7a85a;
  padding-left: 4px;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}
.social-icons a {
  width: 42px;
  height: 42px;
  background: #112;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
}
.social-icons a:hover {
  background-color: #e7a85a;
  color: #00111b;
}
.footer-top .footer-col:first-child .social-icons {
    justify-content: flex-start;
}
.footer-top .footer-col:last-child .social-icons {
    justify-content: flex-end;
}
.footer-top .footer-col:nth-child(2) .social-icons,
.footer-top .footer-col:nth-child(3) .social-icons {
    justify-content: center;
}
.footer-top .footer-col:last-child .footer-list li {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
/* Footer bottom */
.footer-bottom {
  margin-top: 45px;
  padding-top: 25px;
  border-top: 1px solid #ffffff33;
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
}

/* Mobile Responsive */
@media (max-width: 992px) {
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-col {
    min-width: 100%;
    text-align: center !important; 
  }
  .social-icons, 
  .footer-col .footer-list,
  .footer-col .footer-info {
    justify-content: center !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-info {
    max-width: 100%;
    margin: 10px auto 20px auto; 
  }
}